@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  font-family: "Roboto";
  font-weight: 700;
  color: lightgray;
}

p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(#003566, #000814);
  top: 0;
  height: 100vh;
  background-repeat: no-repeat;
}
body input {
  background: rgba(99, 99, 99, 0.5);
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  width: 20vw;
  height: 5vh;
  min-height: 30px;
  min-width: 200px;
}
body ::-moz-placeholder {
  color: lightgray;
}
body ::placeholder {
  color: lightgray;
}
body :focus {
  outline: none;
}

#area {
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0%;
  display: flex;
  justify-content: center;
}
#area #add-chat-block {
  display: flex;
  flex-direction: column;
  background: rgba(16, 16, 16, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transform: translateY(25%);
  box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.3);
  width: 500px;
  height: 500px;
  border-radius: 2%;
  padding: 10px;
  gap: 10px;
}
#area #add-chat-block p {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -100%);
}
#area #add-chat-block #block-close {
  position: absolute;
  align-self: flex-end;
  cursor: pointer;
}
#area #add-chat-block #chat-name-field {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(16, 16, 16, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(90, 90, 90, 0.3);
}
#area #add-chat-block #chat-name-submit {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(16, 16, 16, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(90, 90, 90, 0.3);
  cursor: pointer;
}

#main {
  position: relative;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  overflow: hidden;
}

button {
  cursor: pointer;
  width: 20vw;
  height: 5vh;
  min-height: 30px;
  min-width: 200px;
  border: none;
  background: border-box #007ea7;
  color: lightgray;
  border-radius: 10px;
  font-size: 3vh;
  background: rgba(44, 44, 44, 0.63);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid rgba(44, 44, 44, 0.5);
}

#connect {
  width: 20vw;
  height: 10vh;
}

nav {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background: rgba(130, 130, 130, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid rgba(130, 130, 130, 0.09);
  z-index: 1;
}
nav #add-chat:not(.mobile) {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 3, "opsz" 24;
}
nav chat {
  margin: 10px;
  background: rgba(0, 23, 31, 0.062745098);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
nav chat[selected] {
  border-radius: 0px;
  background: #00171f;
}
nav chat:not(chat[selected]):hover {
  animation-name: selectChat;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  border-radius: 0px;
}

@media screen and (min-width: 700px) {
  #status-block {
    color: lightgray;
    border: white solid 1px;
    border-radius: 2%;
    width: 40vw;
    height: 50vh;
    box-shadow: inset 0px 5px 10px 0px rgba(14, 14, 14, 0.5);
    overflow: scroll;
  }
  #status-block p {
    padding: 0 32px;
  }
  #head {
    display: flex;
    width: 90vw;
    justify-self: flex-start;
    background: rgba(0, 0, 0, 0.63);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(157, 157, 157, 0.09);
    height: 4vh;
    align-items: center;
  }
  #head span {
    position: absolute;
  }
  #head p {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
@keyframes selectChat {
  0% {
    border-radius: 10px;
  }
  100% {
    border-radius: 10px;
  }
}
#frame {
  width: 90vw;
  height: 90vh;
  background: rgba(0, 0, 0, 0.63);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid rgba(0, 0, 0, 0.27);
  border-radius: 1%;
  display: flex;
  flex-direction: row;
}
#frame nav {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background: rgba(130, 130, 130, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid rgba(130, 130, 130, 0.09);
  z-index: 1;
}
#frame nav #add-chat:not(.mobile) {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 3, "opsz" 24;
}
#frame nav chat {
  margin: 10px;
  background: rgba(0, 23, 31, 0.062745098);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
#frame nav chat[selected] {
  border-radius: 0px;
  background: #00171f;
}
#frame nav chat:not(chat[selected]):hover {
  animation-name: selectChat;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  border-radius: 0px;
}
#frame button {
  position: absolute;
  display: contents;
}
#frame #current {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: static;
}
#frame #current .top-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
  padding: 10px 0;
  height: 90%;
}
#frame #current .top-column message {
  display: flex;
  flex-direction: column;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(184, 184, 184, 0.63);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid rgba(184, 184, 184, 0.5);
  padding: 10px;
  border-radius: 3px;
  box-shadow: black 1px 1px 5px;
  margin-left: auto;
  transform: translateX(-10px);
}
#frame #current .top-column message author {
  font-size: 0.7em;
}
#frame #current .top-column message message-text {
  font-weight: bold;
}
#frame #current .top-column message[replied] {
  display: flex;
  flex-direction: column;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(184, 184, 184, 0.63);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid rgba(184, 184, 184, 0.5);
  padding: 10px;
  border-radius: 3px;
  box-shadow: black 1px 1px 5px;
  margin-left: 20px;
}
#frame #current .top-column message[replied] author {
  font-size: 0.7em;
}
#frame #current .top-column message[replied] message-text {
  font-weight: bold;
}
#frame #current .bottom-column {
  padding: 5px;
}
#frame #current .bottom-column #send-message {
  display: flex;
  width: 100%;
  min-width: 100px;
  color: gray;
  gap: 5px;
}
#frame #current .bottom-column #send-message input {
  width: 100%;
}
#frame #current .bottom-column #send-message img {
  height: 36.95px;
  width: 36.95px;
  cursor: pointer;
}

*::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 700px) {
  body {
    overflow: hidden;
  }
  #status-block {
    color: lightgray;
    border: white solid 1px;
    border-radius: 2%;
    width: 90vw;
    height: 50vh;
    box-shadow: inset 0px 5px 10px 0px rgba(14, 14, 14, 0.5);
    overflow: scroll;
  }
  #status-block p {
    padding: 5px;
  }
  #head {
    display: flex;
    width: 90vw;
    justify-self: flex-start;
    background: rgba(0, 0, 0, 0.63);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(157, 157, 157, 0.09);
    height: 4vh;
  }
  #head span {
    position: absolute;
  }
  #head p {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  #main nav {
    position: absolute;
    width: 50vw;
    height: 100vh;
    left: -70%;
    top: 0%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background: rgba(22, 22, 22, 0.801);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(130, 130, 130, 0.09);
    z-index: 1;
  }
  #main nav #add-chat:not(.mobile) {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 3, "opsz" 24;
  }
  #main nav chat {
    margin: 10px;
    background: rgba(0, 23, 31, 0.062745098);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
  }
  #main nav chat[selected] {
    border-radius: 0px;
    background: #00171f;
  }
  #main nav chat:not(chat[selected]):hover {
    animation-name: selectChat;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    border-radius: 0px;
  }
  #main #current .bottom-column {
    padding: 5px;
  }
  #main #current .bottom-column #send-message {
    display: flex;
    width: 100%;
    min-width: 100px;
    color: gray;
    gap: 5px;
    transform: translateY(-50%);
  }
  #main #current .bottom-column #send-message input {
    width: 100%;
  }
  #main #current .bottom-column #send-message img {
    height: 36.95px;
    width: 36.95px;
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */